:root {
  /* --construct: 2px solid lime; */
  --bg: #0a1b2b;
  --pill_btn: #1a5585;
  --pill_btn_hover: #45a9d340;
  --linktext: #ffffff;
  --linkhover: #ffffff90;
  --text: #ffffff;
  --h1: 1.5em;
  --h3: 1.8em;
}

body {
  display: grid;
  grid-template-areas:
    'header header  header'
    'main   main    main'
    'footer footer  footer';
  /* max-width: 1920px; */
  max-width: 120rem;
  color: var(--text);
  background-color: var(--bg);
  margin: 0 auto;
}

header {
  outline: var(--construct);
  display: flex;
  justify-content: space-between;
  grid-area: header;
  align-items: center;
  margin-bottom: auto;
  width: 100%;
  /* padding: 50px; */
  padding: 3.125rem;
}

header img.logo_big {
  outline: var(--construct);
  /* width: 250px; */
  width: 15.625rem;
}

div.connect_btn {
  outline: var(--construct);
  display: flex;
  align-items: center;
  position: relative;
  /* left: 450px; */
  /* width: 110px; */
  width: 6.875rem;
  /* height: 110px; */
  height: 6.875rem;
}

img.hex_header {
  outline: var(--construct);
  /* width: 12.5em */
  position: absolute;
  /* left: -50px; */
  left: -3.125rem;
  /* width: auto;
  height: auto; */
}

img.hex_header:hover {
  outline: var(--construct);
  position: absolute;
  /* left: -50px; */
  left: -3.125rem;
  rotate: 90deg;
}

a.connect {
  outline: var(--construct);
  width: 10em;
  position: absolute;
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  color: var(--linktext);
  text-decoration: none;
}

a.connect:hover {
  color: var(--linkhover);
}

nav ul {
  display: flex;
}

main {
  outline: var(--construct);
  grid-area: main;
  height: 1fr;
}

h1 {
  font-family: 'Hind', sans-serif;
  font-size: 2em;
  font-weight: 700;
  outline: var(--construct);
  line-height: var(--h1);
}

h2,
label {
  font-family: 'Hind', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  outline: var(--construct);
}

h3 {
  font-family: 'Hind', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  outline: var(--construct);
  line-height: var(--h3);
}

h3.grading {
  font-size: 1.3em;
}

p {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  outline: var(--construct);
  line-height: var(--h3);
}

.homepage-headline {
  /* margin-left: 500px; */
  margin-left: 31.25rem;
  font-family: 'Hind', sans-serif;
  font-size: 3em;
  font-weight: 700;
  outline: var(--construct);
  line-height: var(--h1);
}

main.index {
  /* padding: 20px; */
  padding: 1.25rem;
}

main.buy {
  /* max-width: 1300px; */
  max-width: 81.25rem;
  /* padding: 20px; */
  padding: 1.25rem;
  margin: 0 auto;
}

main.sell {
  width: auto;
  padding: 20px;
  margin: 0 auto;
}

main.about {
  width: 40em;
  /* padding: 20px; */
  padding: 1.25rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

main.contact {
  width: 40em;
  /* padding: 20px; */
  padding: 1.25rem;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: left;
}

.astralis {
  outline: var(--construct);
}

section {
  outline: var(--construct);
}

section h3 {
  color: var(--text);
}

main.contact form {
  /* justify-content: center; */
  margin-bottom: 5em;
}

details {
  font-size: 1.1rem;
  background-color: #0a1b2b;
  margin-bottom: 2rem;
  padding: 0.5em;
}

details:hover {
  cursor: pointer;
  background-color: #1a5585;
}

main.sell div.content {
  outline: var(--construct);
  display: flex;
  justify-content: space-evenly;
}

main.sell div.content aside {
  outline: var(--construct);
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  width: 30em;
}

div.slider-container {
  outline: var(--construct);
  position: relative;
  /* top: -100px; */
  top: -6.25rem;
  /* left: 100px; */
  left: 6.25rem;
  /* width: 500px; */
  width: 31.25rem;
  /* height: 260px; */
  height: 16.25rem;
  margin: 0 auto;
}

div.slider-container .slider {
  zoom: 0%;
}

.imagehex {
  position: relative;
  padding: 0;
  margin: 0;
  /* top: -580px; */
  top: -36.25rem;
  /* left: 400px; */
  left: 25rem;
}

ul.nav-list {
  outline: var(--construct);
}

nav ul.nav-list a,
button {
  color: var(--linktext);
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  background-color: var(--pill_btn);
  /* box-shadow: none; */
  /* height: 30px; */
  /* border-radius: 20px; */
  border-radius: 1.25rem;
  /* margin: 0 auto; */
  /* padding: 2px 20px; */
  padding: 0.125rem 1.25rem;
  border-width: 0rem;
}

fieldset {
  /* margin: 0 auto; */
  padding: 2em;
  border-radius: 10px;
  border-color: #1a5585;
  border-width: 5px;
  /* width: auto; */
}

main.contact fieldset {
  /* margin: 0 auto; */
  padding: 2em;
  /* border-radius: 10px; */
  border-radius: 0.625rem;
  border-color: #1a5585;
  /* border-width: 5px; */
  border-width: 0.3125rem;
  /* width: auto; */
}

legend {
  text-align: center;
  /* margin: 0 auto; */
  /* padding: 0 1em; */
}

legend.contact {
  text-align: left;
  padding: 0 1em;
}

label {
  display: block;
  text-align: center;
  margin-top: 1em;
}

label.contact {
  display: block;
  text-align: left;
  margin-top: 1em;
}

input {
  margin-bottom: 3em;
  width: 45em;
}

main.contact input {
  margin-bottom: 3em;
  width: 20em;
}

ul.nav-list li {
  /* padding: 10px; */
  padding: 0.625rem;
}

nav ul a:hover,
button:hover {
  background-color: var(--pill_btn_hover);
}

nav ul a:active,
button:active {
  color: #1a5585;
}

footer {
  outline: var(--construct);
  display: flex;
  justify-content: space-evenly;
  grid-area: footer;
  width: 100%;
  /* height: 170px; */
  height: 10.625rem;
  /* padding-top: 20px; */
  padding-top: 1.25rem;
}

footer div {
  outline: var(--construct);
  margin-top: auto;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 1em;
  /* width: 200px; */
  width: 12.5rem;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1650px) {
  .page-headline {
    /* margin-left: 400px; */
    margin-left: 25rem;
  }
}

@media only screen and (max-width: 1440px) {
  .page-headline {
    /* margin-left: 300px; */
    margin-left: 18.75rem;
  }
  nav ul.nav-list a,
  button {
    color: var(--linktext);
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    background-color: var(--pill_btn);
    /* box-shadow: none; */
    /* height: 30px; */
    /* border-radius: 20px; */
    border-radius: 1.25rem;
    /* margin: 0 auto; */
    /* padding: 2px 15px; */
    padding: 0.125rem 0.9375rem;
  }
}

@media only screen and (max-width: 1024px) {
  .page-headline {
    /* margin-left: 100px; */
    margin-left: 6.25rem;
  }
  nav ul.nav-list a,
  button {
    display: flex;
    text-decoration: none;
    background-color: var(--pill_btn);
    /* box-shadow: none; */
    /* height: 30px; */
    /* border-radius: 20px; */
    border-radius: 1.25rem;
    /* margin: 0 auto; */
    padding: 2px 15px;
  }
  header {
    outline: var(--construct);
    display: block;
    /* justify-content: space-between; */
    grid-area: header;
    /* align-items: center; */
    margin-bottom: auto;
    /* width: 100%; */
    /* padding: 50px; */
  }
}

@media only screen and (min-width: 375px) and (max-width: 599px) {
  body {
    width: 375px;
    margin: 0 auto;
    background-image: url('assets/img/Vector_mobile_bg_.png');
  }

  header {
    padding: 0;
  }

  img.logo_big {
    zoom: 70%;
    margin: 3em auto 0 auto;
  }

  div.connect_btn {
    display: none;
  }

  a.imagehex {
    display: block;
    margin: 25em auto;
    padding: 0;
    width: auto;
    height: auto;
  }

  main.index {
    width: 320px;
    height: 1000px;
    margin: 0 auto;
    padding: 0;
  }

  main.sell {
    margin: 8em auto 0 auto;''
  }

  main.sell div.content aside{
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 11em;
    left: 22em;
  }

  .nav-list {
    display: none;
  }

  header img.logo-big {
    margin: 0 auto;
    height: 1em;
  }

  h1.homepage-headline {
    width: 10em;
    /* display: block; */
    zoom: 60%;
    font-size: 6em;
    line-height: 1em;
    margin: 2em auto 0 auto;
    padding: 0;
  }

  .slider-container {
    display: block;
    zoom: 40%;
    margin: 0 auto;
  }

  img.slider {
    margin: 25em auto;
  }

  div.slider-container {
    /* display: none; */
    margin: 0;
    padding: 0;
  }

  img.astralis {
    padding: 36em 0;
    margin: 0 auto;
  }

  footer {
    display: none;
  }
}
