:root {
  /* --construct: 2px solid lime; */
  --bg: #0a1b2b;
  --pill_btn: #1a5585;
  --pill_btn_hover: #45a9d340;
  --linktext: #ffffff;
  --linkhover: #ffffff90;
  --text: #ffffff;
  --h1: 1.5em;
  --h3: 1.8em;
}

html body {
  /* overflow-x: hidden; */
  display: grid;
  grid-template-areas:
    'header header  header'
    'main   main    main'
    'footer footer  footer';
  max-width: 120rem;
  color: var(--text);
  background-color: var(--bg);
  margin: 0 auto;
}

header {
  outline: var(--construct);
  display: flex;
  justify-content: space-between;
  grid-area: header;
  align-items: center;
  margin-bottom: auto;
  width: 100%;
  padding: 3.125rem;
}

header img.logo_big {
  outline: var(--construct);
  width: 15.625rem;
}

div.connect_btn {
  outline: var(--construct);
  display: flex;
  align-items: center;
  position: relative;

  width: 6.875rem;
  height: 6.875rem;
}

div.mobile_connect_btn {
  display: none;
}

img.hex_header {
  outline: var(--construct);
  position: absolute;
  left: -3.125rem;
}

img.hex_header:hover {
  outline: var(--construct);
  position: absolute;
  left: -3.125rem;
  rotate: 90deg;
}

a.connect {
  outline: var(--construct);
  width: 10em;
  position: absolute;
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  color: var(--linktext);
  text-decoration: none;
}

a.connect:hover {
  color: var(--linkhover);
}

nav ul {
  display: flex;
}

main {
  outline: var(--construct);
  grid-area: main;
  height: 1fr;
}

h1,
h2,
h3 {
  outline: var(--construct);
  font-family: 'Hind', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 2em;
  line-height: var(--h1);
}

h2,
label {
  outline: var(--construct);
  font-family: 'Hind', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

h3 {
  font-size: 0.8em;
  line-height: var(--h3);
}

h3.grading {
  font-size: 1.3em;
}

main.buy h3 {
  color: red;
  background-color: bisque;
  display: block;
  text-align: center;
  /* padding: 20px; */
}

p {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  outline: var(--construct);
  line-height: var(--h3);
}

h1.homepage-headline {
  width: 300px;
  margin-left: 31.25rem;
  font-family: 'Hind', sans-serif;
  font-size: 3em;
  font-weight: 700;
  outline: var(--construct);
  line-height: var(--h1);
}

main.index {
  padding: 1.25rem;
}

main.buy {
  margin: 0 auto;
  width: 80%;
  padding: 1.25rem;
}

h1.browse {
  color: red;
  background-color: bisque;
  display: block;
  text-align: center;
  padding: 20px;
}

main.sell {
  width: auto;
  padding: 20px;
  margin: 0 auto;
}

main.about {
  width: 40em;
  padding: 1.25rem;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: 'Hind', sans-serif;
}

main.contact {
  width: 40em;
  padding: 1.25rem;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: left;
}

main.cart {
  max-width: 81.25rem;
  padding: 1.25rem;
  margin: 0 auto;
}

.astralis {
  outline: var(--construct);
}

section {
  outline: var(--construct);
}

section h3 {
  color: var(--text);
}

main.contact form {
  margin-bottom: 5em;
}

details {
  font-size: 1.1rem;
  background-color: #0a1b2b;
  margin-bottom: 2rem;
  padding: 0.5em;
}

details:hover {
  cursor: pointer;
  background-color: #1a5585;
}

main.sell div.content {
  outline: var(--construct);
  display: flex;
  justify-content: space-evenly;
}

main.sell div.content h2 {
  outline: var(--construct);
  padding-bottom: 20px;
}

main.sell div.content button {
  margin-top: 20px;
}

main.sell div.content aside {
  outline: var(--construct);
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  width: 30em;
}

div.slider-container {
  outline: var(--construct);
  position: relative;
  top: -6.25rem;
  left: 6.25rem;
  width: 31.25rem;
  height: 16.25rem;
  margin: 0 auto;
}

div.slider-container .slider {
  zoom: 0%;
}

.imagehex {
  position: relative;
  padding: 0;
  margin: 0;
  top: -36.25rem;
  left: 25rem;
}

ul.nav-list {
  outline: var(--construct);
}

nav ul.nav-list a,
button {
  color: var(--linktext);
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  background-color: var(--pill_btn);
  border-radius: 1.25rem;
  padding: 0.125rem 1.25rem;
  border-width: 0rem;
}

fieldset {
  padding: 2em;
  border-radius: 10px;
  border-color: #1a5585;
  border-width: 5px;
}

legend {
  text-align: center;
}

legend.contact {
  text-align: center;
  padding: 0 1em;
}

label {
  display: block;
  text-align: center;
  margin-top: 1em;
}

label.contact {
  display: block;
  text-align: center;
  margin-top: 1em;
}

input {
  margin-bottom: 1em;
  width: 100%;
}

.contact input {
  margin-bottom: 1em;
  width: 100%;
}
textarea {
  width: 100%;
  height: 150px;
}

ul.nav-list li {
  padding: 0.625rem;
}

nav ul a:hover,
button:hover {
  background-color: var(--pill_btn_hover);
}

nav ul a:active,
button:active {
  color: #1a5585;
}

footer {
  outline: var(--construct);
  display: flex;
  justify-content: space-evenly;
  grid-area: footer;
  width: 100%;
  height: 10.625rem;
  padding-top: 1.25rem;
}

.footer_adress,
.footer_email {
  outline: var(--construct);
  margin-top: auto;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 1em;
  width: 6rem;
}
.footer_phone {
  outline: var(--construct);
  margin-top: auto;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 1em;
  width: 16rem;
}
.hamburger {
  display: none;
  position: relative;
  top: 20em;
}

div.card-container {
  display: flex;
  width: 15em;
}

div.card {
  background-color: #ffffff50;
  width: 400px;
  height: 500px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: #fff;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 1em;
}

.card-img {
  border-radius: 8px;
}

.card-button {
  background-color: var(--pill_btn);
  margin: 10px auto;
  height: 60px;
}

/* Mobile Size */
@media only screen and (min-width: 0px) and (max-width: 624px) {
  body {
    background-image: url('assets/img/Vector_mobile_bg_.png');
  }

  header {
    width: 100%;
    margin: 0 auto;
  }

  body header a {
    width: 10em;
    margin: 0 auto;
  }

  main.sell form {
    width: 100%;
  }

  main.sell input {
    height: 200px;
    width: 100%;
  }

  div.connect_btn {
    display: none;
  }

  div.mobile_connect_btn {
    display: block;
    position: relative;
    top: 4em;
    left: 4em;
  }

  .mobile_connect {
    display: block;
  }

  img.mobile_hex_header {
    display: block;
    position: relative;

    top: -5em;
    left: 6em;
  }

  a.mobile_connect {
    position: relative;
    bottom: 11em;
    left: 7.2em;
    width: 7em;

    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
  }

  a.imagehex {
    display: block;
    position: relative;
    left: 20em;
    top: -60em;
    margin: 25em auto;
    padding: 0;
    width: auto;
    height: auto;
  }

  main.index {
    margin: 0 auto;
    padding: 0;
  }

  main.sell {
    margin: 8em auto 0 auto;
  }

  main.sell div.content aside {
    display: none;
  }

  .hamburger {
    display: block;
    top: 4em;
    left: -1em;
  }

  nav {
    display: hidden;
  }

  .nav-list {
    display: none;
  }

  header img.logo_big a {
    margin: 0 auto;
  }

  h1.homepage-headline {
    margin-left: 0;
    line-height: 1em;
  }

  .slider-container {
    display: block;
    zoom: 40%;
    margin: 0 auto;
  }

  img.slider {
    display: block;
    position: relative;
    left: -6em;
    top: -19em;
  }

  div.slider-container {
    margin: 0;
    padding: 0;
  }

  img.astralis {
    padding: 36em 0 2em 0;
    margin: 0 auto;
  }

  footer {
    display: none;
  }
}

/* Tablet size */
@media only screen and (min-width: 625px) and (max-width: 889px) {
  body {
    width: 80%auto;
    /* margin: 0 auto; */
    background-image: url('assets/img/Vector_mobile_bg_.png');
  }

  header {
    width: 100%;
    margin: 0 auto;
  }

  body header a {
    width: 10em;
    margin: 0 auto;
  }

  div.content {
    max-width: 430px;
  }

  div.connect_btn {
    display: none;
  }

  div.mobile_connect_btn {
    display: block;
    position: relative;
    top: 4em;
    left: 4em;
  }

  .mobile_connect {
    display: block;
  }

  img.mobile_hex_header {
    display: block;
    position: relative;

    left: 6em;
  }

  a.mobile_connect {
    position: relative;
    bottom: 6em;
    left: 7.2em;
    width: 7em;

    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
  }

  a.imagehex {
    display: block;
    position: relative;
    left: 20em;
    margin: 25em auto;
    padding: 0;
    width: auto;
    height: auto;
  }

  main.index {
    margin: 0 auto;
    padding: 0;
  }

  main.sell {
    margin: 8em auto 0 auto;
  }

  main.sell div.content aside {
    display: none;
  }

  main.buy {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: 0 auto; */
    width: 100%;
    /* padding: 1.25rem; */
  }

  .hamburger {
    display: block;
    top: 4em;
    left: -10em;
  }

  nav {
    display: hidden;
  }

  .nav-list {
    display: none;
  }

  header img.logo_big {
    margin: 0 auto;
  }

  h1.homepage-headline {
    margin-left: 0;
  }

  .slider-container {
    display: block;
    zoom: 40%;
    margin: 0 auto;
  }

  img.slider {
    display: block;
    position: relative;
    left: -6em;
  }

  div.slider-container {
    margin: 0;
    padding: 0;
  }

  img.astralis {
    padding: 36em 0;
    margin: 0 auto;
  }

  footer {
    display: none;
  }
}

/* small Desktop size */
@media only screen and (min-width: 890px) and (max-width: 1620px) {
  body {
    /* width: 100%; */
    background-image: url('assets/img/Vector_mobile_bg_.png');
  }

  /* header {
    margin: 0 auto;
    width: 100%;
    background-color: antiquewhite;
  } */

  body header a {
    width: 100%;
    margin: 0 auto;
  }
  /* 
  div.content {
    max-width: 430px;
  } */

  div.connect_btn {
    display: none;
  }

  div.mobile_connect_btn {
    display: block;
    position: relative;
    top: 4em;
    left: 4em;
  }

  .mobile_connect {
    display: block;
  }

  img.mobile_hex_header {
    display: block;
    position: relative;

    left: 6em;
  }

  a.mobile_connect {
    position: relative;
    bottom: 6em;
    left: 7.2em;
    width: 7em;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
  }

  a.imagehex {
    display: block;
    position: relative;
    left: 5em;
    margin: 25em auto;
    padding: 0;
    width: auto;
    height: auto;
  }

  main.index {
    margin: 0 auto;
    padding: 0;
  }

  main.sell {
    margin: 0 auto;
  }

  main.sell div.content aside {
    display: none;
  }

  .hamburger {
    display: none;
  }

  nav {
    background-color: antiquewhite;
  }

  ul.nav-list {
    display: flex;
    align-items: right;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }

  header img.logo_big {
    margin: 0 auto;
  }

  h1.homepage-headline {
    margin: 0 auto;
    width: 8em;
    height: 6em;
    font-size: 4em;
  }

  .slider-container {
    display: block;
    zoom: 80%;
    margin: 0 auto;
  }

  img.slider {
    display: block;
    position: relative;
    left: -19em;
  }

  div.slider-container {
    margin: 0;
    padding: 0;
  }

  img.astralis {
    padding: 36em 0;
    margin: 0 auto;
  }

  footer {
    display: flex;
  }
}
